.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.container-principal{
  width: 60%;
  align-items: center;
  justify-items: center;
  padding-top: 0;
}


.card{
    align-self: center;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.card h2{
    width: fit-content;
    height: fit-content;
    color: #2C4845;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.box span{
  font-size: 1.2rem;
}

.box input{
  height: 2rem;
  padding-left: 10px;
}

.detalheT{
    color: #2C4845;
}

form .botao-a {
    height: fit-content;
    width: fit-content;
  }
  
  form .botao-a input {
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
    background: #12C7B9;
  }
  
  form .botao-a input:hover {
    background: #2C4845 ;
  }