.container-principal{
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.container-principal h1{
    margin-top: 10px;
}
.container-principal article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(to bottom, #D4ECE9,#299E93);
    z-index: 1;
    padding: 20px;
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filtros div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtros input{
    border: none;
    border-radius: 8px;
    font-size: 18px;
    width: 290px;
    height: 35px;
    padding-left: 10px;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.btns button{
    background-color: #12C7B9;
    color: white;
    width: 100px;
    height: fit-content;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards-consultas{
    height: 500px;
    width: fit-content;
    columns: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
    padding-bottom: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    background-color: #FFFAFA;
    
}

.card::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    background: linear-gradient(to bottom, #299E93, #D4ECE9);
    z-index: -1;
}

.card .div-extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagem-logo{
    background-image: url("../imagens/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    width: 100%;
    height: 200px;
}

.btn-card {
    height: fit-content;
    width: fit-content;
}

.btn-card button{
    background: #12C7B9;
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}