.main {
    width: 100%;
    background-image: linear-gradient(#D4ECE9, #299E93);
    background-size: 100%;
    padding-bottom: 20px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding-top: 10px;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    margin-top: 50px;
    width: 50%;
}

.sobre h2 {
    color: #12C7B9;
    margin-bottom: 3%;
}

.img-s {
    margin-top: 50px;
    width: 30%;
}

.localizacao {
    display: flex;
    flex-direction: column;
}

.localizacao h1 {
    padding: 10px;
    align-self: center;
}

.localizacao h3 {
    padding: 20px;
    align-self: center;
}

.img-l {
    align-self: center;
    padding: 20px;
}