.botao{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 margin-top: 40px;
}

.botao button{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: #299E93;
    border-radius: 10px;
    text-align: center;
}
