.container-principal{
    width: 100%;
    margin-top: 20px;
}


.formulario{
    width: 60%;
    height: fit-content;
    margin: 10px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.formulario h2{
    margin-left: 20px;
    margin-top: 20px;
    color: #32756C;
}

.formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-form{
    width: 80%;
}

form label{
    width: fit-content;
}

.inputs{
    height: 35px;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.alinhar-inputs{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}

.input-maior{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.input-menor {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}
.input-radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input-radio div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-radio div input{
    cursor: pointer;
}

.input-maior input{
    width: 100%;
}

.btn-confirma{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#btn-alterar{
    margin-top: 10px;
    gap: 10px;
}

.btn-confirma button{
    width: 200px;
    height: 40px;
    background: #12C7B9;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(155, 155, 155);
    border: none;
    border-radius: 8px;
}

.consultas{ 
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:80% ;
    margin:5%;
    border-radius: 20px ;
}

h2{
    text-align: center;
    padding:2%;
}
table{
    padding: 1%;
    line-height: 4px;
}

.anotacao{
    width:80% ;
    height:300px ;
    background-color: aliceblue;
    margin:5%;
    border-radius: 20px ;
}