.carrossel_titulo {
    color: var(#2C4845);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 50%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.botões {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        align-self: center;
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 40%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}