footer{
    background: transparent;

    width: 100%;
    height: 150px;

    color: rgb(0, 0, 0);
    position: absolute;
    top: 100%;
    
    margin-top: 1rem;
}

.menu_footer{
   
    width: 100%;
    height: 100%;

    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    background: #32756C;
}

.logo-footer{
    width: 20%;
    height: 100%;
    background-image: url("../imagens/logoinvi.png");
    background-position: 40%  20%;
    background-size: 270px 200px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.icones-social{
    font-size: 2.6rem;
    color: #b2ece5;
    
    display: inline-flex;
    gap: 1rem;

    width: fit-content;
    height: fit-content;
    position: absolute;

    bottom: 30%;
    left: 43%;
    transition: 1s;
}

.icones-social a{
    text-decoration: none;
    color:#b2ece5;
}

.icones-social i{
    cursor: pointer;
}
.icones-social .fa-facebook:hover{
    color: rgb(4, 4, 126);
    transition: .5s;
}

.fa-linkedin:hover{
    color: rgb(0, 110, 255);
    transition: .5s;
}

.fa-instagram:hover{
    color: #DD2A7B;
    transition: .5s;
}

.fa-youtube:hover{
    color: red;
    transition: .5s;
}

.responsavel-tecnico{
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.responsavel-tecnico h3{
    color: #b2ece5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.responsavel-tecnico p{
    color: white;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .logo-footer{
        width: 30%;
        height: 100%;
        background-image: url("../imagens/logoinvi.png");
        background-position: 40%  20%;
        background-size: 270px 170px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .icones-social{
        font-size: 1.5rem;
        color: #b2ece5;
    
        display: inline-flex;
        gap: 0.5rem;
    
        width: fit-content;
        height: fit-content;
        position: absolute;
    
        bottom: 25%;
        left: 40%;
    }
    
    .responsavel-tecnico{
        position: absolute;
        bottom: 55%;
        left: 35%;
    }
}