:root {
    --background: #2C2C2C;
    --primary: #299E93;
    /* --default: #fff; */
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.flex nav{
    width: 80%;
}

header{
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255) 0% , #b2ece5 80%);

}

header.rolagem {
    background-color: #fff;
    padding: 20px;
}

header.rolagem a,
header.rolagem li {
    color: #2C4845;
}

header li {
    font-size: 40px;
    color: #fff;
    width: fit-content;
    height: fit-content;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}



header ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    transition: .5s;
}

header ul li a:hover {
    color: #12C7B9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

.logo {
    background-image: url('../imagens/logoinvi.png');
    background-size: 150% 180%;
    background-position: 50%;
    width: 15%;
    height: 100px;
}

.btn-login button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #299E93;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.button {
    color: var(--default);
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 2px 8px black;
}

.button:hover {
    color: black;
}

.button svg {
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.button rect {
    fill: none;
    stroke: var(--default);
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
    color: #299E93;
}

.button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 120, 200;
    stroke-dashoffset: 48;
    stroke: var(--primary);
    transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

.btn-logado summary{
    list-style: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn-logado details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-logado div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right:0;
    width: fit-content;
    margin-top: 35px;
    padding: 10px;
    background: #b2ece5;
    z-index: 3;
}

.btn-logado a{
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.btn-logado img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}