@font-face {
    font-family: 'Agdasima';
    src: url('fonts/Agdasima-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Afacad';
    src: url('fonts/Afacad-VariableFont_wght.ttf');
}

:root {
    --background: #2C2C2C;
    --primary: #299E93;
    /* --default: #fff; */
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.flex nav{
    width: 80%;
}

header{
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255) 0% , #b2ece5 80%);

}

header.rolagem {
    background-color: #fff;
    padding: 20px;
}

header.rolagem a,
header.rolagem li {
    color: #2C4845;
}

header li {
    font-size: 40px;
    color: #fff;
    width: fit-content;
    height: fit-content;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}



header ul li a {
    color: #3b3b3b;
    text-decoration: none;
    font-family: 'Afacad';
    font-size: 30px;
    transition: .5s;

}

header ul li a:hover {
    color: #12C7B9;
    font-family: 'Afacad';
    font-size: 30px;
    text-decoration: none;
}

.logo {
    background-image: url('../imagens/logoinvi.png');
    background-size: 150% 180%;
    background-position: 50%;
    width: 15%;
    height: 100px;
}

/* botao login */
/* From Uiverse.io by shah1345 */ 


.btn-logado summary{
    list-style: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.btn-logado details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-logado div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right:0;
    width: fit-content;
    margin-top: 2.39rem;
    padding: 10px;
    backdrop-filter: blur(13px) brightness(0.8);
    z-index: 3;
    border-bottom-left-radius: 10px;
}

.btn-logado a{
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s ease-in;
}

.btn-logado a:hover{
    color: #18dec3;
}

.btn-logado img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}