@import url("carrossel.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: var(); adicionar a fonte  */
    margin: 0;
    min-height: 100vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D4ECE9;
    ;
    transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #2C4845;
}

header i{
    font-size: 40px;
    color: #fff;
}

header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color:#2C4845;
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    transition: 2s;
}
header ul li a:hover{
    color: #12C7B9;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}
.logo{

}

.btn-login button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #2C4845 ;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
}

.btn-login button:hover{
    background-color:#299E93 ;
    transition: 2s;
}

.footer {
    background-color:#D4ECE9;
    
    width: 100%;
    height: 50px;

    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
   
}

.menu_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15px;
}
